[submodule "learn_web"]
	path = learn_web
	url = https://github.com/EthienDuckett/learn_web.git
	branch = main
[submodule "blog"]
	path = blog
	url = https://github.com/ethienduckett/blog.git
	branch = main
