:root {
	--max-readable-p-width: 40em;
}
body>span>div {
	margin-bottom: 40vh;
}
body>span>div>h1 {
	text-align:center;
}
html {
	background-color:orange;
	min-height:100%;
	color:orange;
	width:100%;
}
body {
	background-color:black;
	min-height:100vh;
}
a {
	text-decoration:none;
	color:black;
	background-color:orange;
	background-color:brown;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	padding-top:3px;
	border-radius:500px;
	font-weight:bold;
	font-family:monospace;
}
a:visited {
	background-color:orange;
}
#centerpiece {
	text-align:center;
}
.controller {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-around;
	flex-direction:row;
}
.controller>div>button,.controller>div>input {
	color:orange;
	background-color:black;
	border-color:orange;
}
#blogs {
	display:flex;
	flex-direction:column;
}

#afterword {
	position:relative;
	width:100%;
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#outro {
	font-family:cursive;
	position:absolute;
	bottom:0px;
	width:100%;
	font-size:2em;
	text-align:center;
}
.blog {
	border:orange dotted 1px;
}
.code {
	/* WIP */
	padding:10px;
	border:orange solid 1px;
	line-height:2em;
	display:block !important;
	font-size:1.4em;
	overflow:scroll;
}
.code>.enclosed {
	line-height:1.5em !important;
}
.code_metadata {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.code_lang {
	color:limegreen;
	font-weight:bold;
}
.code_file {
	background-color:orange;
	color:black;
}
.sect {
	margin-top:3em;
	border-top:orange solid 2px;
	width:100%;
}
.float {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.floatRight {
	width: 90%;
	margin-left:auto;
	display:flex;
	flex-direction:row;
	align-items:flex-end;
}
.floatLeft {
	width: 90%;
	margin-right:auto;
	display:flex;
	flex-direction:row-reverse;
	align-items:flex-end;
	justify-items:flex-end;
}
.readable {
	max-width: var(--max-readable-p-width);
	line-height:1.2em;
	font-size:1.4em;
}

